@media screen and (min-width: 1024px){
    .cardProductMapping {
        position: fixed;
        z-index: 50;
        width: 271%!important;
        white-space: nowrap;
        margin-left: 1%;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        padding-bottom: 3%;
        padding-left: 0%;
    }

    .MappingDetails{
        font-size: 150% !important;
        margin-left: 1%;
        padding-top: 4%;
        padding-bottom: 4%;
    }

    .tblHeaders{
        margin-left: -3%;
        font-size: 110%!important;
        font-weight: 600;
        width: 72%;
        font-family: calibri;
    }

    /* #settingContent {
        width: 70% !important;
        margin-left: 15%;
    }     */
            
    .Polaris-Choice__Label{
        font-size: 100%;
    }

    .itemTitle,.enableCheckbox{
        z-index: -10;
    }

    .saveBtn{
        font-size: 125% !important;
        width: 70px!important;
        height: 70px!important;
        font-family: calibri;
    }

    .sticky{
        z-index:100 !important; 
    }

    .Pid{
        margin-left: 0%!important;
    }
    .tTitle{
        margin-left: 1%!important;
    } 
    .Permission{
        margin-left: -2%!important;
    }    
}


/* Media queries for the tablet devices */
@media (min-width: 650px) and (max-width: 1023px) {
    
}