/* Media Query for very large screens */
@media screen and (min-device-width: 1824px) {
    .cardProductMapping {
        position: fixed;
        z-index: 50;
        width: 295%!important;
        white-space: nowrap;
        margin-left: 2%;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        padding-bottom: 3%;
        padding-left: 0%;
    }

    /* #productmapping{
        margin-left: 4%;
        width: 92%;
    } */

    .MappingDetails{
        font-size: 150% !important;
        margin-left: 0%;
        padding-top: 4%;
        padding-bottom: 4%;
    }

    .tblHeaders{
        margin-left: -3%;
        font-size: 110%!important;
        font-weight: 600;
        width: 100%;
        font-family: calibri;
    }

    /* #settingContent {
        width: 70% !important;
        margin-left: 15%;
    }     */
            
    .Polaris-Choice__Label{
        font-size: 100%;
    }

    .itemTitle,.enableCheckbox{
        z-index: -10;
    }

    .saveBtn{
        font-size: 125% !important;
        width: 70px!important;
        height: 70px!important;
        font-family: calibri;
    }

    .sticky{
        z-index:100 !important; 
    }

    .pName{
        margin-left: -17px;
        width: 39% !important;
    }
    .Pid{
        margin-left: -28px!important;
        width: 16.8% !important;
    }
    .tTitle{
        margin-left: -20px!important;
        width: 37.2% !important;
    } 
    .Permission{
        margin-left: -40px!important;
    }    

    .space{
        height: 122px !important;
    }
}

/* Media Queries for MDPI screens */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .cardProductMapping {
        position: fixed;
        z-index: 50;
        width: 295%!important;
        white-space: nowrap;
        margin-left: 2%;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        padding-bottom: 3%;
        padding-left: 0%;
    }

    /* #productmapping{
        margin-left: 4%;
        width: 92%;
    } */

    .MappingDetails{
        font-size: 150% !important;
        margin-left: 0%;
        padding-top: 4%;
        padding-bottom: 4%;
    }

    .tblHeaders{
        margin-left: -3%;
        font-size: 110%!important;
        font-weight: 600;
        width: 100%;
        font-family: calibri;
    }

    /* #settingContent {
        width: 70% !important;
        margin-left: 15%;
    }     */
            
    .Polaris-Choice__Label{
        font-size: 100%;
    }

    .itemTitle,.enableCheckbox{
        z-index: -10;
    }

    .saveBtn{
        font-size: 125% !important;
        width: 70px!important;
        height: 70px!important;
        font-family: calibri;
    }

    .sticky{
        z-index:100 !important; 
    }

    .pName{
        margin-left: -17px;
        width: 39% !important;
    }
    .Pid{
        margin-left: -28px!important;
        width: 16.8% !important;
    }
    .tTitle{
        margin-left: -20px!important;
        width: 37.2% !important;
    } 
    .Permission{
        margin-left: -40px!important;
    }    

    .space{
        height: 122px !important;
    }
}

/* Media Queries for laptop with hidpi screen */
@media screen and (min-width:1080px) and (max-width:1440px){
    .cardProductMapping {
        position: fixed;
        z-index: 50;
        width: 295%!important;
        white-space: nowrap;
        margin-left: 2%;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        padding-bottom: 3%;
        padding-left: 0%;
    }

    /* #productmapping{
        margin-left: 4%;
        width: 92%;
    } */

    .MappingDetails{
        font-size: 150% !important;
        margin-left: 0%;
        padding-top: 4%;
        padding-bottom: 4%;
    }

    .tblHeaders{
        margin-left: -3%;
        font-size: 110%!important;
        font-weight: 600;
        width: 100%;
        font-family: calibri;
    }

    /* #settingContent {
        width: 70% !important;
        margin-left: 15%;
    }     */
            
    .Polaris-Choice__Label{
        font-size: 100%;
    }

    .itemTitle,.enableCheckbox{
        z-index: -10;
    }

    .saveBtn{
        font-size: 125% !important;
        width: 70px!important;
        height: 70px!important;
        font-family: calibri;
    }

    .sticky{
        z-index:100 !important; 
    }

    .pName{
        margin-left: -17px;
        width: 39% !important;
    }
    .Pid{
        margin-left: -28px!important;
        width: 16.8% !important;
    }
    .tTitle{
        margin-left: -20px!important;
        width: 37.2% !important;
    } 
    .Permission{
        margin-left: -40px!important;
    }    

    .space{
        height: 122px !important;
    }
}

/* Media Queries for PC */
@media screen and (min-width: 1024px){
    .cardProductMapping {
        position: fixed;
        z-index: 50;
        width: 295%!important;
        white-space: nowrap;
        margin-left: 2%;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        padding-bottom: 3%;
        padding-left: 0%;
    }

    /* #productmapping{
        margin-left: 4%;
        width: 92%;
    } */

    .MappingDetails{
        font-size: 150% !important;
        margin-left: 0%;
        padding-top: 4%;
        padding-bottom: 4%;
    }

    .tblHeaders{
        margin-left: -3%;
        font-size: 110%!important;
        font-weight: 600;
        width: 100%;
        font-family: calibri;
    }

    /* #settingContent {
        width: 70% !important;
        margin-left: 15%;
    }     */
            
    .Polaris-Choice__Label{
        font-size: 100%;
    }

    .itemTitle,.enableCheckbox{
        z-index: -10;
    }

    .saveBtn{
        font-size: 125% !important;
        width: 70px!important;
        height: 70px!important;
        font-family: calibri;
    }

    .sticky{
        z-index:100 !important; 
    }

    .pName{
        margin-left: -17px;
        width: 45%;
    }
    .Pid{
        margin-left: -28px!important;
        width: 18.8%;
    }
    .tTitle{
        margin-left: -20px!important;
        width: 27.2%;
    } 
    .Permission{
        margin-left: -40px!important;
    }    

    .space{
        height: 122px !important;
    }
}


/* Media queries for the tablet devices */
@media (min-width: 650px) and (max-width: 1023px) {
    .cardProductMapping {
        position: fixed;
        z-index: 50;
        width: 295%!important;
        white-space: nowrap;
        margin-left: 2%;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        padding-bottom: 3%;
        padding-left: 0%;
    }

    /* #productmapping{
        margin-left: 4%;
        width: 92%;
    } */

    .MappingDetails{
        font-size: 150% !important;
        margin-left: 0%;
        padding-top: 4%;
        padding-bottom: 4%;
    }

    .tblHeaders{
        margin-left: -5%;
        font-size: 107%!important;
        font-weight: 600;
        width: 110%;
        font-family: calibri;
    }

    /* #settingContent {
        width: 70% !important;
        margin-left: 15%;
    }     */
            
    .Polaris-Choice__Label{
        font-size: 100%;
    }

    .itemTitle,.enableCheckbox{
        z-index: -10;
    }

    .saveBtn{
        font-size: 125% !important;
        width: 70px!important;
        height: 70px!important;
        font-family: calibri;
    }

    .sticky{
        z-index:100 !important; 
    }

    .pName{
        margin-left: -21px;
        width: 45.5%
    }
    .Pid{
        margin-left: -76px!important;
        width: 17.5%;
    }
    .tTitle{
        margin-left: -8px!important;
        width: 29.2%;
    } 
    .Permission{
        margin-left: 7px!important;
    }    

    .space{
        height: 122px !important;
    }
}


/* Media Queries for mobile devices */
@media  (min-width: 360px) and (max-width: 640px) {
    .cardProductMapping {
        position: fixed;
        z-index: 50;
        width: 400%!important;
        white-space: nowrap;
        margin-left: 2%;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        padding-bottom: 3%;
        padding-left: 0%;
    }

    #productmapping{
        /* width: 100px;
        margin: 0px;
        font-size: 13px !important; */
    }

    .MappingDetails{
        font-size: 150% !important;
        margin-left: 0%;
        padding-top: 4%;
        /* margin-bottom: 16%; */
    }

    .tblHeaders{
        margin-left: -3%;
        font-size: 90%!important;
        font-weight: 600;
        width: 100%;
        font-family: calibri;
        margin-top: 5%;
        margin-bottom: 2%;
    }
            
    .Polaris-Choice__Label{
        font-size: 100%;
    }

    .itemTitle,.enableCheckbox{
        z-index: -10;
    }

    .saveBtn{
        font-size: 125% !important;
        /* width: 70px!important;
        height: 70px!important; */
        font-family: calibri;
    }

    .sticky{
        z-index:100 !important; 
    }

    .pName{
        margin-left: -26px;
        width: 40%
    }
    .Pid{
        display: none;
    }
    .tTitle{
        margin-left: -5%;
    } 
    .Permission{       
        margin-left: 5%;
    }
    
    .hide-cell-xs{
        display: none;
    }

    .space{
        height: 122px !important;
    }

    .itemTitle {
        /* padding-right: 15% !important; */
    }

    #settingContent tbody{
        font-size: 80%;
    }
}