@media screen and (max-width: 2560px) and (min-width: 1440px){
    .cardProductMapping {
        position: fixed;
        z-index: 50;
        width: 255%!important;
        white-space: nowrap;
        margin-left: 1%;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        padding-bottom: 3%;
        padding-left: 0%;
    }

    .MappingDetails{
        font-size: 150% !important;
        margin-left: -25%;
        padding-top: 4%;
        padding-bottom: 4%;
    }

    .tblHeaders{
        margin-left: -20%;
        font-size: 130% !important;
        font-weight: 600;
        width: 128%;
        font-family: calibri;
    }

    #settingContent {
        width: 70% !important;
        margin-left: 15%;
    }    
            
    .Polaris-Choice__Label{
        font-size: 100%;
    }

    .itemTitle,.enableCheckbox{
        z-index: -10;
    }

    .saveBtn{
        font-size: 170%;
        width: 90px !important;
        height: 90px !important;
    }

    .sticky{
        z-index:100 !important; 
    }
    
}

@media screen and (max-width: 1440px) and (min-width: 1024px){
    .cardProductMapping {
        position: fixed;
        z-index: 50;
        width: 271%!important;
        white-space: nowrap;
        margin-left: 1%;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        padding-bottom: 3%;
        padding-left: 0%;
    }

    .MappingDetails{
        font-size: 150% !important;
        margin-left: 1%;
        padding-top: 4%;
        padding-bottom: 4%;
    }

    .tblHeaders{
        margin-left: -3%;
        font-size: 110%!important;
        font-weight: 600;
        width: 72%;
        font-family: calibri;
    }

    #settingContent {
        width: 70% !important;
        margin-left: 15%;
    }    
            
    .Polaris-Choice__Label{
        font-size: 100%;
    }

    .itemTitle,.enableCheckbox{
        z-index: -10;
    }

    .saveBtn{
        font-size: 125% !important;
        width: 70px!important;
        height: 70px!important;
        font-family: calibri;
    }

    .sticky{
        z-index:100 !important; 
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px){
    .cardProductMapping {
        position: fixed;
        z-index: 50;
        width: 265%!important;
        white-space: nowrap;
        margin-left: 1%;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        padding-bottom: 3%;
        padding-left: 0%;
    }

    .MappingDetails{
        font-size: 150% !important;
        margin-left: 1%;
        padding-top: 4%;
        padding-bottom: 4%;
    }

    .tblHeaders{
        margin-left: -5%;
        font-size: 97%!important;
        font-weight: 600;
        width: 77%;
        font-family: calibri;
    }

    .Pid{
        margin-left: -2%;
    }

    .tTitle{
        margin-left: 2%;
    }

    .Permission {
        margin-left: -2%;
    }

    #settingContent {
        width: 70% !important;
        margin-left: 15%;
        font-size: 12px !important;
    }    
            
    .Polaris-Choice__Label{
        font-size: 100%;
    }

    .itemTitle,.enableCheckbox{
        z-index: -10;
    }

    .saveBtn{
        font-size: 125% !important;
        width: 60px!important;
        height: 60px!important;
        font-family: calibri;
    }

    .sticky{
        z-index:100 !important; 
    }
}

@media screen and (max-width: 768px) and (min-width: 425px){
    
}

@media screen and (max-width: 425px) and (min-width: 375px){
    .cardProductMapping {
        position: fixed;
        z-index: 50;
        width: 355%!important;
        white-space: nowrap;
        margin-left: 1%;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        padding-bottom: 3%;
        padding-left: 0%;
        height: 70px;
    }

    .MappingDetails{
        font-weight: bold;
        font-size: 120%;
        margin-top: 4%;
        margin-left: 4%;
        margin-bottom: 4%;
    }

    .tblHeaders{
        display: none;
    }

    #settingContent {
        width: 70% !important;
        margin-left: 4%;
        font-size: 12px !important;
    }    
            
    .Polaris-Choice__Label{
        font-size: 100%;
    }

    .itemTitle,.enableCheckbox{
        z-index: -10;
    }

    .saveBtn{
        font-size: 110%!important;
        width: 55px!important;
        height: 55px!important;
        font-family: calibri;
        z-index:50;
    }

    .sticky{
        z-index:100 !important; 
    }
}

@media screen and (max-width: 375px) and (min-width: 320px){
    
}

@media screen and (max-width: 320px) {
    .cardProductMapping {
        position: fixed;
        z-index: 50;
        width: 355%!important;
        white-space: nowrap;
        margin-left: 1%;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        padding-bottom: 3%;
        padding-left: 0%;
        height: 70px;
    }

    .MappingDetails{
        font-weight: bold;
        font-size: 120%;
        margin-top: 4%;
        margin-left: 4%;
        margin-bottom: 4%;
    }

    .tblHeaders{
        display: none;
    }

    #settingContent {
        width: 70% !important;
        margin-left: 4%;
        font-size: 12px !important;
    }    
            
    .Polaris-Choice__Label{
        font-size: 100%;
    }

    .itemTitle,.enableCheckbox{
        z-index: -10;
    }

    .saveBtn{
        font-size: 110%!important;
        width: 55px!important;
        height: 55px!important;
        font-family: calibri;
        z-index:50;
    }

    .sticky{
        z-index:100 !important; 
    }
}
