/* Styles for the alert box which comes after clicking the save button */
/*Media Queries for mobile devices  */
@media  (min-width: 360px) and (max-width: 640px) {
    .SettingAlert .alertBox {
        width: 100%;
    }

    .SettingAlert .alertmessage {
        font-size: 13px;
        text-align: center;
        max-width: 100%;
        padding-top: 2%;
        margin-left: 2%;
        margin-right: 0;
        margin-bottom: -8%;
    }

    .Polaris-Button.Polaris-Button--iconOnly{
        border: transparent;
        background: transparent;
    }

    .SettingAlert .alertHright{
        margin-left: -13%;
        margin-top: -1%;
        float: right;
    }

    .SettingAlert .alertHleft{
        min-width: 63%;
        text-align: left;
        margin-left: 1%;
        margin-top: 2%;
        margin-right: 40%;
    }

    .SettingAlert .alertFooter .Polaris-Button__Content span{
        font-size: 12px;
    }

    .alertFooter{
        margin-left: 35%;
    }
}

/* Media queries for the tablet devices */
@media (min-width: 650px) and (max-width: 1023px) {
    .no-right-padding{
        padding-right: 0;
    }
    
    /* alert box styles which appears in settings page  */
    .SettingAlert .alertBox{
        width: 55%;
    }
    
    .SettingAlert .alertmessage {
        min-width: 25%;
        padding-top: 1%;
        margin-bottom: -1%;
        margin-right: 0;
        text-align: left;
    }

    .alertFooter .Polaris-Button.Polaris-Button--primary {
        width: 21%!important;
        text-align: right;
        margin-right: -88%;
    }
    
    .SettingAlert .alertHleft {
        min-width: 17%;
        text-align: left;
        margin-left: -14%;
    }
    
    .SettingAlert .alertHright{
        margin-left: 28%;
        float: left;
    }
    
    .SettingAlert .Mat_clsose_Icon{
        margin-right: -27%;
    }

    .SettingAlert .Mat_clsose_Icon .Polaris-Button.Polaris-Button--iconOnly{
        border: 0px solid transparent;
    }

    .SettingAlert .Mat_clsose_Icon .Polaris-Button.Polaris-Button--iconOnly{
        width: 30%;
    }
}

 /* Media queries for the pc */
 @media screen and (min-width: 1024px){
    .no-right-padding{
        padding-right: 0;
    }
    
    /* alert box styles which appears in settings page  */
    .SettingAlert .alertBox{
        width: 350px;
    }
    
    .SettingAlert .alertmessage {
        min-width: 25%;
        padding-top: 1%;
        margin-bottom: -1%;
        margin-right: 0;
        text-align: left;
    }

    .alertFooter .Polaris-Button.Polaris-Button--primary {
        width: 30%!important;
        text-align: right;
        margin-right: -77%;
    }
    
    .SettingAlert .alertHleft {
        min-width: 0%;
        text-align: left;
        margin-left: 0%;
    }
    
    .SettingAlert .alertHright{
        margin-left: 207px;
        float: left;
    }
    
    .alertFooter{
        margin-left: 0%;
    }

    .SettingAlert .Mat_clsose_Icon{
        margin-right: 100%;
    }

    .SettingAlert .Mat_clsose_Icon .Polaris-Button.Polaris-Button--iconOnly{
        border: 0px solid transparent;
    }

    .SettingAlert .Mat_clsose_Icon .Polaris-Button.Polaris-Button--iconOnly{
        width: 30%;
    }
 }

@media screen and (min-width:1440px){
    .SettingAlert .alertBox{
        width: 35%;
    }

    .SettingAlert .alertHright {
        margin-left: 20%;
        float: left;
    }

    .alertFooter {
        padding-right: 31px;
    }

    .Mat_clsose_Icon .Polaris-Icon {
        width: 50%;
    }
}

 /* Media Queries for larger screens  */
 @media screen and (min-device-width:1824px){
    .no-right-padding{
        padding-right: 0;
    }
    
    /* alert box styles which appears in settings page  */
    .SettingAlert .alertBox{
        width: 25%;
    }
    
    .SettingAlert .alertmessage {
        max-width: 25%;
        padding-top: 1%;
        margin-left: 1%;
        margin-right: 0;
    }
    
    .SettingAlert .alertHleft {
        max-width: 20%;
        text-align: left;
        margin-left: 1%;
        margin-right: 5%;
    }
    
    .SettingAlert .alertHright {
        margin-left: 10%;
        float: left;
    }
    
    .SettingAlert .Mat_clsose_Icon {
        margin-right: 90%;
    }
 }