
    .alertFooter .Polaris-Button.Polaris-Button--primary{
        /* margin-right: 5%; */
        margin-left: 5%;
    }
    
    .alertBox .Polaris-TextContainer{
        font-family: Arial;
    }
    
    .alertBox .Polaris-DisplayText.Polaris-DisplayText--sizeSmall{
        font-weight: bold;
    }
    
    hr{
        margin-top: 0px !important;
        margin-bottom: 5px !important;
    }
    
    .alertFooter{
        width:  447px;
        padding-left: 11px ;
        padding-right: 28px ;
    }

    .closeIcon .Polaris-Button{
        margin-left: 90%;
        margin-right: 10%;
        margin-top: -10%;
        border: none;
        background: transparent;
        width: 0%;
    }

    .alertBox{
        width: 94%;
    }

    .closeIcon .Polaris-Icon{
        width: 55%;
        padding-top: 25%;
    }
    
/*Media Queries for mobile devices  */
@media  (min-width: 360px) and (max-width: 640px) {
    .alertBox{
        width: 88%;
    }   

    .alertFooter {
        padding-left: 17px;
        padding-right: 12px;
    }
}
