/* Media Queries for PC */
@media screen and (min-width: 1024px){
    .showItems_column{
        max-width: 75%;
    }

    .MATbutton{
        float: right;
    }
    .MATbtn_column{
        text-align: right;
    }
 }
 
 
 /* Media queries for the tablet devices */
 @media (min-width: 650px) and (max-width: 1023px) {
     
    .showItems_column{
        max-width: 75%;
    }

    .MATbutton{
        float: left;
    }
 
 }
 
 
 /* Media Queries for mobile devices */
 @media  (min-width: 360px) and (max-width: 640px) {
    
    .MATbtn_column{
        text-align: center;
    }
   
 }