
    .alertFooter .Polaris-Button.Polaris-Button--primary{
        /* margin-right: 5%; */
        margin-left: 5%;
    }
    
    .alertBox .Polaris-TextContainer{
        font-family: Arial;
    }
    
    .alertBox .Polaris-DisplayText.Polaris-DisplayText--sizeSmall{
        font-weight: bold;
    }
    
    hr{
        margin-top: 0px !important;
        margin-bottom: 5px !important;
    }
    
    .alertFooter{
        width:  447px !important;
        padding-left: 28px !important;
        padding-right: 28px !important;
    }