    .alertBox , .cnfirmBox{
        color: #666666;
    }
    
    .alertFooter .Polaris-Button.Polaris-Button--primary{
        width: 20%;
        margin-left: 5%;
    }
    
    .alertBox .Polaris-TextContainer{
        font-family: Arial;
    }
    
    .alertBox .Polaris-DisplayText.Polaris-DisplayText--sizeSmall{
        font-weight: bold;        
    }
    
    hr{
        margin-top: 0px !important;
        margin-bottom: 5px !important;
    }
    
    .alertFooter{
        width:  447px;
        padding-left: 11px ;
        padding-right: 20px ;
    }

    .closeIcon .Polaris-Button{
        margin-left: 90%;
        margin-right: 10%;
        margin-top: -10%;
        border: none;
        background: transparent;
        width: 0%;
    }

    .cnfirmBox{
        width: 94%;
    }

    .closeIcon .Polaris-Icon{
        width: 55%;
        padding-top: 25%;
    }
 
/* Media queries for the tablet devices */
@media (min-width: 650px) and (max-width: 1023px) {
    .cnfirmBox{
        width: 94%;
        text-align: left;
    }   

    .alertBox{
        font-size: 16px;
        text-align: left;
        max-width: 500px;
    }

    .closeIcon .Polaris-Button{
        margin-left: 97%;
        margin-top: 5%;
        border: none;
        background: transparent;
        width: 0;
    }
    .alertFooter {
        padding-left: 5px;
        padding-right: 12px;
        width: 122%!important;
        margin-left: -23%;
        /* text-align: center; */
    }

    .alertFooter .Polaris-Button.Polaris-Button--primary {
        width: 17%;
        margin-top: 5%;
    }

    .alertFooter .Polaris-Button__Content{
        font-size: 14px;
    }
}

/*Media Queries for mobile devices  */
@media  (min-width: 360px) and (max-width: 640px) {
    .cnfirmBox{
        width: 88%;
    }   

    .alertBox{
        font-size: 13px;
    }

    .closeIcon .Polaris-Button{
        margin-left: 165%;
        margin-top: -70%;
        border: none;
        background: transparent;
        width: 0%;
    }
    .alertFooter {
        padding-left: 5px;
        padding-right: 12px;
        width: 133%;
        /* margin-left: -15%; */
    }

    .alertFooter .Polaris-Button.Polaris-Button--primary {
        width: 40%;
        margin-top: 5%;
    }

    .alertFooter .Polaris-Button__Content{
        font-size: 13px;
    }
}
