/* Media queries for the mobile devices */
@media  (min-width: 360px) and (max-width: 640px) {
    .InstallVideo {
        margin-left: 0% ;
    }

    .InstallVideo iframe{  
        width: 100%;
        height: 500px;
    }

    .InstallTitle .Polaris-DisplayText {       
        margin-left: 0% ;
        font-size: 150%;
    }

    .InstallDescription {        
        width: 120% ;
        margin-left: 0% ;
        font-size: 120%;
    }
}

/* Media queries for the tablet devices */
@media (min-width: 650px) and (max-width: 1023px) {
    .InstallVideo {
        margin-left: 0% ;
    }

    .InstallVideo iframe{  
        width: 100%;
        height: 437px;
    }

    .InstallTitle .Polaris-DisplayText {       
        margin-left: 0% ;
        font-size: 150%;
    }

    .InstallDescription {        
        width: 120% ;
        margin-left: 0% ;
        font-size: 100%;
    }
}

/* Media queries for the PC devices */
@media (min-width: 1024px) {
    .InstallVideo {
        margin-left: 19% ;
    }

    .InstallVideo iframe{  
        /* width: 100%; */
        height: 500px;
    }

    .InstallDescription {        
        /* width: 100% ; */
        margin-left: 19% ;
    }

    .InstallTitle .Polaris-DisplayText {       
        margin-left: 19% ;
    }
}