/* Media queries for the mobile devices */
@media  (min-width: 360px) and (max-width: 640px) {

}

/* Media queries for the tablet devices */
@media (min-width: 650px) and (max-width: 1023px) {
    .InstallVideo {
        margin-left: 0% !important;
    }

    .InstallVideo iframe{  
        width: 100%!important;
        height: 500px!important;
    }

    .InstallTitle .Polaris-DisplayText {       
        margin-left: 0% !important;
        font-size: 150%!important;
    }

    .InstallDescription {        
        width: 120% !important;
        margin-left: 0% !important;
        font-size: 120%!important;
    }
}

/* Media queries for the PC devices */
@media (min-width: 1024px) {
    .InstallVideo {
        margin-left: 0% !important;
    }

    .InstallVideo iframe{  
        width: 100%!important;
        height: 500px!important;
    }

    .InstallDescription {        
        width: 100% !important;
        margin-left: 0% !important;
    }

    .InstallTitle .Polaris-DisplayText {       
        margin-left: 0% !important;
    }
}