.InstallTitle .Polaris-DisplayText{
    font-size: 2.8rem;
    line-height: 3.2rem;
    font-weight: 600;
    font-family: inherit;
    margin-left: 19%;
    margin-top: 2%;
    margin-bottom: 2%;
}

li{
   padding-bottom: 2%;
    color: #637381;
    font-size: 1em !important;
}

code{
    color: gray;
}

.lastLine code{
    background-color:  #27ae60 ;
    color: white;
}

.lastLine{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}

.lastInst{
    margin-left: 4%;     
    color: #637381;
    font-size: 1em !important;
}

.lastInst p{
    margin-bottom: 1% !important;
}

.Polaris-Button.Polaris-Button--primary {
    background-color: #2ecc71 !important;
    color: white !important;;
    height: 20% !important;
    font-size: 130% !important;
/*     width: 30%; */
    text-align: center;
    margin-top: 30px;
}

.InstallVideo{
    margin-left: 19%;
    /* width: 48.5% !important; */
}

.InstallVideo iframe{    
    /* width: 165% !important; */
}

.ytp-chrome-top-buttons{
    display: none !important;
}

/*Media Queries for mobile devices  */
@media  (min-width: 360px) and (max-width: 640px) {
    .configWrapper{
        padding-right: 15px;
        padding-left: 30px;
    }

    .configWrapper .Polaris-Card{
        padding-right: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 80%;
    }
}