/*Media Queries for mobile devices  */
@media  (min-width: 360px) and (max-width: 640px) {
    .MaTAlert .alertBox{
        width: 88%;
    } 
    
    .MaTAlert .alertBox .Polaris-DisplayText.Polaris-DisplayText--sizeSmall{
        width: 132%;
        font-size: 84%;
    }

    .MaTAlert  .Polaris-TextStyle--variationSubdued{
        font-size: 84%;
    }

    .MaTAlert .closeIcon {
        width: 40%;
        padding-top: 25%;

    }

    .MaTAlert .heading_row .Polaris-Icon__Svg{
        max-width: 52% !important;
    }

    .MaTAlert .heading_row{
        display: flex;
    }

    .MaTAlert .alertFooter {
        padding-left: 17px;
        padding-right: 12px;
    }

    .MaTAlert .heading_row .Polaris-Button{
      
        border: none;
        margin-top: 0px;
    }
    
    .MaTAlert .alertFooter .Polaris-Button.Polaris-Button--primary{
        /* margin-right: 5%; */
        margin-left: 5%;
    }
    
    .MaTAlert .alertBox .Polaris-TextContainer{
        font-family: Arial;
    }
    
    .MaTAlert .alertBox .Polaris-DisplayText.Polaris-DisplayText--sizeSmall{
        font-weight: bold;
    }
    
    .MaTAlert hr{
        margin-top: 0px !important;
        margin-bottom: 5px !important;
    }
    
    .MaTAlert .alertFooter{
        width:  447px;
        padding-left: 28px ;
        padding-right: 28px ;
    }

    .MaTAlert .closeIcon .Polaris-Button{
        margin-left: 90%;
        margin-right: 10%;
        margin-top: -10%;
        border: none;
        background: transparent;
        width: 0%;
    }

    .MaTAlert .alertBox{
        width: 94%;
    }

    .MaTAlert .closeIcon .Polaris-Icon{
        width: 55%;
        padding-top: 25%;

    }
    .MaTAlert .alertHright{
        margin-left: 13%;
     
     }

     .MaTAlert .alertHleft{
        min-width: 75%;
    }
}

 /* Media queries for the tablet devices */
 @media (min-width: 650px) and (max-width: 1023px) {     
    .MaTAlert .closeIcon_td{
      width: 91%;
  }

  .MaTAlert .heading_row .Polaris-Button{
      margin-top: 0px;
      border: none;
      margin-left: 202px;
  }

  .MaTAlert .alertBox .Polaris-DisplayText.Polaris-DisplayText--sizeSmall{
    width: 100%;
}

  .MaTAlert .alertFooter .Polaris-Button.Polaris-Button--primary{
    /* margin-right: 5%; */
    margin-left: 0%;
    margin-bottom: 1%;
}

.MaTAlert .alertBox .Polaris-TextContainer{
    font-family: Arial;
}

.MaTAlert .alertBox .Polaris-DisplayText.Polaris-DisplayText--sizeSmall{
    font-weight: bold;
}

.MaTAlert hr{
    margin-top: 0px !important;
    margin-bottom: 5px !important;
}

.MaTAlert .alertFooter{
    width:  447px;
    padding-left: 11px ;
    padding-right: 28px ;
}

.MaTAlert.closeIcon .Polaris-Button{
    margin-left: 90%;
    margin-right: 10%;
    margin-top: -10%;
    border: none;
    background: transparent;
    width: 0%;
}

.MaTAlert .alertBox{
    width: 94%;
    text-align: center;
    max-width: 650px!important;
}

.MaTAlert .closeIcon .Polaris-Icon{
    width: 40%;
    padding-top: 25%;

}

.MaTAlert .alertHleft{
    max-width: 300px;
    text-align: right;
    float: left;
    padding-left: 0%;
}


.MaTAlert .alertHright{
    max-width: 6%;
    text-align: right;
    float: right;
    margin-right: 48%;

}

.MaTAlert .alertmessage{
    min-width: 70%;
    padding-top: 1%;
    text-align: left;
}
  


.MaTAlert .heading_row .Polaris-Icon__Svg{
    max-width: 64% !important;
}
 }

 
 /* Media queries for the pc */
 @media (min-width: 1024px) {
 
    .MaTAlert .alertBox{
        max-width: 650px!important;
    }

    .MaTAlert .alertBox .Polaris-DisplayText.Polaris-DisplayText--sizeSmall{
        width: 138%;
    }
    
    .MaTAlert .heading_row{
        display: flex;
    }

    .MaTAlert .alertFooter .Polaris-Button.Polaris-Button--primary{
        /* margin-right: 5%; */
        margin-left: 0%;
    }
    
    .MaTAlert .alertBox .Polaris-TextContainer{
        font-family: Arial;
    }
    
    .MaTAlert .alertBox .Polaris-DisplayText.Polaris-DisplayText--sizeSmall{
        font-weight: bold;
    }

    .MaTAlert .Polaris-DisplayText--sizeSmall{
        line-height: 3.8rem;
    }
    
    .MaTAlert hr{
        margin-top: 0px !important;
        margin-bottom: 5px !important;
    }
    
    .MaTAlert .alertFooter{
        width:  447px;
        padding-left: 11px ;
        padding-right: 28px ;
    }

    .MaTAlert .Mat_clsose_Icon .Polaris-Button{
        margin-left: 90%;
        margin-right: 10%;
        margin-top: -10%;
        border: none;
        background: transparent;
        width: 0%;
    }

     /* .MaTAlert .alertBox{
        width: 94%;
    } */

    .MaTAlert .Mat_clsose_Icon .Polaris-Icon{
        width: 40%;
        padding-top: 25%;

    }


    .MaTAlert .alertHleft{
        max-width: 250px;
        text-align: left;
        margin-left: 0%;
    }


    .MaTAlert .alertHright{
        margin-left: 200px;
       float: right;
    
    }

    .MaTAlert .alertmessage{
        min-width: 70%;
        padding-top: 1%;
        text-align: left;
    }

    .MaTAlert .heading_row .Polaris-Button{
        margin-top: 0px;
        border: none;
        margin-left: 111px;
    }
  
    .MaTAlert .heading_row .Polaris-Icon__Svg{
        min-width: 15px;
    }


 }

 @media (min-width: 1440px)  {
    .MaTAlert .alertBox{
        max-width: 387px ! important;
    }

    .MaTAlert .alertBox .Polaris-DisplayText.Polaris-DisplayText--sizeSmall{
        width: 138%;
    }
    
    .MaTAlert .heading_row{
        display: flex;
    }

    .MaTAlert .alertFooter .Polaris-Button.Polaris-Button--primary{
        /* margin-right: 5%; */
        margin-left: 5%;
    }
    
    .MaTAlert .alertBox .Polaris-TextContainer{
        font-family: Arial;
    }
    
    .MaTAlert .alertBox .Polaris-DisplayText.Polaris-DisplayText--sizeSmall{
        font-weight: bold;
    }
    
    .MaTAlert hr{
        margin-top: 0px !important;
        margin-bottom: 5px !important;
    }
    
    .MaTAlert .alertFooter{
        width:  447px;
        padding-left: 11px ;
        padding-right: 28px ;
    }

    .MaTAlert .Mat_clsose_Icon .Polaris-Button{
        margin-left: 90%;
        margin-right: 10%;
        margin-top: -10%;
        border: none;
        background: transparent;
        width: 0%;
    }

     .MaTAlert .alertBox{
        width: 94%;
    }

    .MaTAlert .Mat_clsose_Icon .Polaris-Icon{
        width: 40%;
        padding-top: 25%;

    }


    .MaTAlert .alertHleft{
        max-width: 20%;
        text-align: center;
        margin-left: 1%;
    }


    .MaTAlert .alertHright{
       margin-left: 4%;
       float: right;
    
    }

    .MaTAlert .alertmessage{
        max-width: 29%;
        padding-top: 2%;
        text-align: center;
    }

    .MaTAlert .heading_row .Polaris-Button{
        margin-top: 0px;
        border: none;
    }
  
 }