/* Media Queries for PC */
@media screen and (min-width: 1024px){
    .paginationUl{
        list-style: none;
        margin-top: 6%;
        width: fit-content;
        min-width: 100%;
    }

    .paginationUl li:hover, .paginationUl a:hover, .paginationUl li.active , .paginationUl  a:active {
        background-color: rgba(105, 187, 241, 0.377);
       
       }

    .paginationUl li:focus {
        background-color: rgba(105, 187, 241, 0.377);
      
    }

    .paginationUl li a{
        font-size: 130%;
        padding-bottom: 7px;
        padding-top: 0px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .paginationUl li .active {
        opacity: 0.7;
    }

    .paginationUl li {
        float: left;
        list-style: none;
        text-align: center;
        background-color: transparent;
        width: 5%;
        line-height: 100%;
        padding-bottom: 1%;
        padding-top: 1%;
      }
     #first{
        width: 6%;
        
      }
      #next {
        width: 9%;
        
      }
     #last{
        width: 9%;
        
      }
      #previous {
        width: 8%;
      }
      .pagination_stack{
        width: 100%;
      }

      .pagination_stack .Polaris-Stack__Item {
        display: flex;
        min-width: 100%;
    }

 }
 
 
 /* Media queries for the tablet devices */
 @media (min-width: 650px) and (max-width: 1023px) {
    .paginationUl{
        list-style: none;
        max-width: fit-content;
        width: fit-content;
        margin-left: -50%;

    }

    .paginationUl li:hover, .paginationUl a:hover, .paginationUl li.active , .paginationUl  a:active {
        background-color: rgba(105, 187, 241, 0.377);
       }

    .paginationUl li:focus {
        background-color: rgba(105, 187, 241, 0.377);
    }

    .paginationUl li .active {
        opacity: 0.7;
    }

    .paginationUl li {
        float: left;
        list-style: none;
        text-align: center;
        background-color: transparent;
        margin-right: 3%;
        width: 3%;
        line-height: 150%;
        padding-bottom: 1%;
      }

      #first , #next , #last{
        width: 9%;
        margin-right: 8px;
        margin-left: 14px;
      }
      #previous {
        width: 9%;
        margin-right: 20px;
        margin-left: 14px;
      }
      .pagination_stack{
        width: 118%;
      }

      .pagination_stack .Polaris-Stack__Item {
          display: flex;
      }

      .a{
        font-size: 114%;
        padding-bottom: 8px;
        padding-top: 8px;
        padding-left: 13px;
        padding-right: 13px
    }
 }
 
 /* Media Queries for mobile devices */
 @media  (min-width: 360px) and (max-width: 640px) {   
 
    .paginationUl{
        list-style: none;
        width: max-content;
        height: 50%;
    }

    .paginationUl li:hover, .paginationUl a:hover, .paginationUl li.active , .paginationUl  a:active {
        background-color: rgba(105, 187, 241, 0.377);
        padding: 8px;
       }

    .paginationUl li:focus {
        background-color: rgba(105, 187, 241, 0.377);
    }

    .paginationUl li .active {
        opacity: 0.7;
    }

    .paginationUl li {
        float: left;
        list-style: none;
        text-align: center;
        background-color: transparent;
        margin-right: 30px;
        width: 3%;
        line-height: 150%;
        padding-bottom: 1%;
      }
      .pagination_stack{
        width: 118%;
      }

      
      #next , #last{
        width: 9%;
        margin-right: 8px;
        margin-left: 14px;
      }
      #first{
        width: 9%;
        margin-right: 0px;
        margin-left: 0px;
      }
      #previous {
        width: 15%;
        margin-right: 6%;
        margin-left: 4%;
      }

      .paginationUl li a{
        font-size: 114%;
        padding-bottom: 8px;
        padding-top: 8px;
        padding-left: 13px;
        padding-right: 13px
    }
 }