/* Media queries for the mobile devices */
@media  (min-width: 360px) and (max-width: 640px) {
    .keyClass{
        height: 40%;
    }
    
    .spanClass{
        padding-right: 27%;
    }

    .innerSpanClass{
        margin-left: 18%;
    }
}