/* Media Queries for PC */
@media screen and (min-width: 1024px){
   
}


/* Media queries for the tablet devices */
@media (min-width: 650px) and (max-width: 1023px) {
   

}


/* Media Queries for mobile devices */
@media  (min-width: 360px) and (max-width: 640px) {
   
    .untracified_card {
        
        text-align: center !important;
    }
   
    .cardHeading_bullets .col col-sm-10{
        text-align: center !important;
    }

    
    .order_card {
        text-align: center !important;
    }

    .order_card .untracified_card .col .cardHeading_list .cardHeading_bullets col-sm-10 {
        text-align: center !important;
    }
    
    .order_card .untracified_card .qrcode_div {
        text-align: center !important;
    }

    .Polaris-Card__Header{
        text-align: center !important;
    }

    .collapasedView_Untracified{
        text-align: center !important;
    }
  
}